* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato','sans-serif';
}
body {
    height: 100vh;
    /* text-align: center; */
    /* background: url('../images/badbg.png') no-repeat center center/ cover fixed; */
    background-image: radial-gradient(rgb(116, 12, 164),rgb(0, 0, 0));
    /* background: no-repeat center center/cover fixed; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5%;
    margin-top: 12%;
}
.pdf{
    display: flex;
    flex-direction: row;
    color: white;
    background: linear-gradient(to right,rgb(165, 42, 42,0.8),rgb(255, 165, 0,0.8));
}
.pdf:hover{
    /* box-shadow: rgb(0, 0, 0); */
    background: linear-gradient(to right, rgb(255, 165, 0,0.8), rgb(165, 42, 42,0.8));

}
.card-img-top{
    height: 400px;
}
#basketBall{
    background-color: rgba(42, 15, 42, 0.4);
}
.region{
    /* background-color: rgb(0, 0, 0); */
    /* background: linear-gradient(to right,rgb(32, 12, 54),rgb(56, 16, 74)); */
    background: linear-gradient(to right, purple,rgb(87, 13, 151));  
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
}
.gradient{
    border: 3px solid transparent;
    border-image: linear-gradient(to right,rgb(165, 42, 42,0.8),rgb(255, 165, 0,0.8));
    border-radius: 10px;
    border-image-slice: 1;
    padding: 25px;
}
#frameDiv {
    width: 500px;
    height: 400px;
    position: relative;
    border: solid black 1px;
    /* background-color: rgb(205, 242, 205); */
    background-color: rgba(128, 0, 128, 0.7);
  }

  .ball {
    position: absolute;
    z-index: 1;
    width: 30px;
    offset: path('M 50 45 C 150 -20 250 -20 350 80') 150px auto 45deg;
    animation: moveImg 4s 1s 10;
    left: 30px;
    top: 100px;
  }

  svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 30px;
    top: 100px
  }

  @keyframes moveImg {
    100%  { offset-distance: 100%; }
  }
.net{
    width: 180px;
    position: absolute;
    left: 275px;
    top: 150px;
}
#viewbutton{
    background: linear-gradient(to right, rgb(255, 165, 0), rgb(165, 42, 42));
}
#viewbutton:hover{
    background: linear-gradient(to right, rgb(255, 165, 0,0.8), rgb(165, 42, 42,0.8));
}

