/************************************************/
/* ================CSS FOR CARDS========== */

.cards{
    /* background: linear-gradient(90deg, rgb(191, 6, 205), rgb(58,12,85)); */
    background: linear-gradient(45deg,rgb(191,71,205), rgb(58,12,85));
    /* background-image: url("images/Runner.png"); */
    /* background: url(http://s14.postimage.org/nitv9x7ct/top_Arrow.png) no-repeat left center #b21f23; */
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}
@media screen and (max-width: 1150px) {
    .cards {
        grid-template-columns: repeat(3,33%);
    }
}
@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2,50%);
    }
}
@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1,100%);
    }
}
.cardd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    /* background: linear-gradient(45deg, rgba(89,134,0,1) 9%, rgba(141,240,7,1) 39%, rgba(0,212,255,1) 91%); */
    background: linear-gradient(45deg,rgb(191,71,205,0.8), rgb(58,12,85,0.8));
    height: 282px;
    width: 260px;
    text-align: center;
    transition-duration: 0.2s;
}
.cardd:hover{
    .card-image{
        background-image: url('../images/cricket.jpg');
        background-size: cover;
    }
    scale: 1.07;
}
.card-image{
    background-image: url('../images/chess.jpg');
    height: 173px;
    width: 241px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}
.card-name{
    padding: 5px;
    /* font-family: 'Ysabeau SC', sans-serif; */
    /* font-weight: bolder; */
}
.register-btn{
    color: white;
    font-size: 20px;
    background-color: rgb(7, 72, 235);
    outline: none;
    /* border: 3px solid rgb(132, 0, 240); */
    border: none;
    border-radius: 10px;
    padding: 7px;
    
    
    border: 3px solid linear-gradient(#ffffff, #ff0000);
}
.register-btn:hover{
    background-color:  rgb(0, 55, 193);
}

/* ************************************************* */
/* ================CSS FOR CARDS END HERE========== */

