.gap{
    height: 74px;
    background: linear-gradient(to right,#800080,#5D3FD3);
}
.events-heading{
    color: #b700ff;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 50px;
    margin-bottom: 5vh;
}
.events{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
    margin: 20px;
    border-radius: 10px;
    padding: 5vh 10px;
    box-shadow: 0px 0px 5px 5px #BF47CD;
}
.table{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    background: linear-gradient(45deg,rgba(222, 150, 230, 0.8), rgba(155, 125, 172, 0.8));
}
.date{
    margin-bottom: 10vh;
}
table, th, td {
    border: 2px solid black;
}
tr{
    background-color: rgba(255, 255, 255, 0.15);
}
th{
    font-family: 'Lumanosimo', cursive;
    font-size: 22px;
    color: #76015f !important;
    padding: 5px;
}
td{
    padding: 5px;
    color: #800080 !important;
}
.events h2{
    color: white;
    text-shadow: -2px -2px 0 #800080, 1px -1px 0 #800080, -1px 1px 0 #800080, 1px 1px 0 #800080;
    margin-top: 7vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    font-family: cursive;
    display: block;
}
.date h1{
    display: inline;
    color: rgb(0 255 108);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 6px 10px;
    border-radius: 15px;
    border: 3px solid black;
    border-style: dotted;
    animation-name: border;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes border {
    0%   {border-style: dotted;}
    25%   {border-style: dashed;}
    50%   {border-style: solid;}
    75%   {border-style: dashed;}
}
