.gap{
    height: 74px;
    background: linear-gradient(to right,#800080,#5D3FD3);
}
.events{
    /* background-color: purple; */
    background: linear-gradient(to right,#800080,#5D3FD3);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 500;
}
.table{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
}
table, th, td {
    border: 2px solid black;
}
tr{
    background-color: rgba(255, 255, 255, 0.15);
}
th{
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    /* font-family: 'Caveat', cursive; */
    font-family: 'Lumanosimo', cursive;
    font-size: 22px;
}
th,td{
    padding: 5px;
    color: white !important;
}
.events h2{
    color: white;
    text-shadow: -2px -2px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 15px;
    border-bottom: 3px solid black;
    border-radius: 5px;
    font-family: cursive;
}
.events h1{
    /* color: rgb(208 3 255);
    color: rgb(255 0 227); */
    color: rgb(0 255 108);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 6px;
    border-radius: 15px;
    border: 3px solid black;
    border-style: dotted;
    animation-name: border;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes border {
    0%   {border-style: dotted;}
    25%   {border-style: dashed;}
    50%   {border-style: solid;}
    75%   {border-style: dashed;}
}


/* @keyframes marching-ants {
    0% {
      background-position: 0 0, 50px 100%, 0 50px, 100% 0;
    }
    100% {
      background-position: 50px 0, 0 100%, 0 0, 100% 50px;
    }
  }
  
  .events h1 {
    background-image: linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(90deg, black 50%, transparent 50%), linear-gradient(0, black 50%, transparent 50%), linear-gradient(0, black 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 50px 10px, 50px 10px, 10px 50px, 10px 50px;
    animation: marching-ants 400ms infinite linear;
  } */


th{
    /* background-color: #800080; */
    color: white;
}
/* tr:nth-child(even){
    background: linear-gradient(to right,rgb(128,0,128,0.9),rgb(93,63,211,0.9));
    background-color: rgba(255, 255, 255, 0.17);
    opacity: 0.9;
} */