/************************************************/
/* ================CSS FOR FOOTER========== */
footer {
    width: 100%;
    height: auto;
    background: linear-gradient(to right,#800080,#5D3FD3);
    color: white;
    font-family: "Montserrat", sans-serif;
}


footer .logo-and-contact {
    /* margin: 3%; */
    margin-bottom: 13px;
    height: auto;
    border-bottom: 1px solid white;
}

footer .logo-and-contact .logo {
    padding: 20px;
}

footer .logo-and-contact .contact-location {
    padding: 20px;
    padding-top: 40px;
}

.social-buttons {
    text-align: end;
    padding-right: 30px;
}

.social-buttons a {
    margin: 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 18px;
    transition: all 0.5s ease;

}

.social-buttons a .fa {
    color: white;
    font-size: 16px;
    width: 18px;
    text-align: center;
    text-decoration: none;
}

.social-buttons a:hover {
    background-color: white;
    color: #702963;
}

.social-buttons a:hover .fa {
    color: #702963;
}

.copyright-text {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    padding: 25px 0px;
}

/* ************************************************* */
/* ================CSS FOR FOOTER END HERE========== */