@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap");


/* *********************************************** */
/* =================CSS CODE FOR MAIN VIDIO========== */

.Main_Video {
  width: 100%;
  height:600px;
  position: relative;
  /* padding: 0.5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.main_video_content {
  text-align: center;
}

.main_video_content h1 {
  font-size: 15VW;
  color: #efebef;
  font-weight: 580;
}

.back_video {
  height: 600px;
  width:auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%);
}

@media (min-width:941px) {
  .Main_Video {
      width: 100%;
      height:545px;
      position: relative;
      /* padding: 0.5%; */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
  }

  .back_video {
      width: 100vw;
      height: 645px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      
  }
}
/* ================================ */
/* CSS CODE OF MAIN VIDEO END HERE */




/* font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif; */



/* @media (min-aspect-ratio:16/9){
  .back_video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .back_video{
    width: auto;
    height: 100%;
  }
} */



.wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the span */
  align-items: center; /* Vertically center the span */
  text-align: center;
  height: 200px;
  width: 400px;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 20px 30px;
}
@media (max-width: 450px) {
  .wrapper{
   height: 200px;
   width: 300px;
  }
}

.wrapper span{
  display: block;
  padding: 25px 80px;
}

.wrapper::before,
.wrapper::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.wrapper span::before,
.wrapper span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.wrapper:hover::before,
.wrapper:hover::after {
  width: 100%;
}

.wrapper:hover span::before,
.wrapper:hover span::after {
  height: 100%;
}

.wrapper::after {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.wrapper span::after {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.wrapper::before {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.wrapper span::before {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.wrapper {
  background-color:rgb(77, 13, 99,0.8);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 40px 20px;
}
.wrapper img {
  filter: invert(100%);
}
.grid_stats {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.About_us {
  position: relative;
  background-image: url("../images/about_us_bgimage.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover; /* Adjust the background image size */
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .About_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 91, 203,0.5); Adjust the opacity as needed
  pointer-events: none; 
} */
.wrapper:hover {
  transform: scale(1.1);
}

.content {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  margin: 0px 50px;
}
.About_us h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */



.UPDATES{
  text-align: center;
  color: rgb(255, 255, 255);
    
}
.UPDATES h1{
  font-size: 4vw;
}
@media (max-width: 1200px) {
  .UPDATES h1{
    font-size: 50px;
  }
}

.updates_container {
  /* background-color: #fff; */
  padding: 40px 20px;
  /* background: linear-gradient(to right, #BF47CD, #3a0c55); */
  
background: rgb(191,71,205);
background: radial-gradient(circle, rgba(191,71,205,1) 0%, rgba(58,12,85,1) 100%);
  /* width: 100%;
  height: 100vh; */
 position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.Heading_image {
  position: relative;
  display: inline-block;
}

.UPDATES {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 1);
}
#updates_img {
  max-width: 100%;
  height: auto;
opacity: 0.9;
filter: grayscale(100%);


}



/* 
#slider-span1:target ~.image-slider{
  left:55%;
}
#slider-span2:target ~.image-slider{
left:38%;
}
/* #slider-span3:target ~.image-slider{
left:25%;
} */

/* #slider-span4:target ~.image-slider{
left:-38%;
}
#slider-span5:target ~.image-slider{
left:-58%;
}  */




@media screen and (min-width: 769px) and (max-width: 1040px) {

  

.slide-container {
  width: 100%;
  height:85vh;
  /* margin: 50px; */
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.image-slider{
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  margin-top: 100px;

}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  filter: saturate(10%);
  border-radius: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.content{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  border-radius: 30px;
  color: white;
  text-align: center;
  margin: 0px;

}
a p{
  padding: 10px;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  background-color: rgba(0,0,0,0.4);
  border-radius: 30px;
}
  .button:hover{
    background-color: rgba(0,0,0,0.2);
  }
  #slider-span1:target ~ .image-slider #content1:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span2:target ~ .image-slider #content2:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span3:target ~ .image-slider #content3:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span4:target ~ .image-slider #content4:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span5:target ~ .image-slider #content5:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span1:target ~ .image-slider #img1,
  #slider-span1:target ~ .image-slider #button-1{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span2:target ~ .image-slider #img2,
  #slider-span2:target ~ .image-slider #button-2{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span3:target ~ .image-slider #img3,
  #slider-span3:target ~ .image-slider #button-3{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span4:target ~ .image-slider #img4,
  #slider-span4:target ~ .image-slider #button-4{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span5:target ~ .image-slider #img5,
  #slider-span5:target ~ .image-slider #button-5{
    background-color: transparent;
    filter: saturate(100%);
  }
#slider-span1:target ~.image-slider{
  left:55%;
}
#slider-span2:target ~.image-slider{
left:38%;
}
/* #slider-span3:target ~.image-slider{
left:25%;
} */

#slider-span4:target ~.image-slider{
left:-38%;
}
#slider-span5:target ~.image-slider{
left:-60%;
}
}





@media (min-width: 1040px) {
  

.slide-container {
  width: 100%;
  height:85vh;
  /* margin: 50px; */
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;
}

.image-slider{
  width: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  transition: 0.7s;
  margin-top: 100px;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  filter: saturate(10%);
  border-radius: 30px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
.content{
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
  border-radius: 30px;
  color: white;
  text-align: center;
  margin: 0px;

}
a p{
  padding: 10px;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  background-color: rgba(0,0,0,0.4);
  border-radius: 30px;
}

  .button:hover{
    background-color: rgba(0,0,0,0.2);
  }
  #slider-span1:target ~ .image-slider #content1:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span2:target ~ .image-slider #content2:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span3:target ~ .image-slider #content3:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span4:target ~ .image-slider #content4:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span5:target ~ .image-slider #content5:hover{
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  #slider-span1:target ~ .image-slider #img1,
  #slider-span1:target ~ .image-slider #button-1{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span2:target ~ .image-slider #img2,
  #slider-span2:target ~ .image-slider #button-2{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span3:target ~ .image-slider #img3,
  #slider-span3:target ~ .image-slider #button-3{

    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span4:target ~ .image-slider #img4,
  #slider-span4:target ~ .image-slider #button-4{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span5:target ~ .image-slider #img5,
  #slider-span5:target ~ .image-slider #button-5{
    background-color: transparent;
    filter: saturate(100%);
  }
  #slider-span1:target ~.image-slider{
    left:30%;
  }
  #slider-span1:target:hover ~#slide-1{
    border-radius: 100px;
  }
#slider-span2:target ~.image-slider{
  left:15%;
}
/* #slider-span3:target ~.image-slider{
  left:25%;
} */

#slider-span4:target ~.image-slider{
  left:-15%;
}
#slider-span5:target ~.image-slider{
  left:-30%;
}
}



@media (max-width:769px) {
  .slide-container{
    overflow-x: auto;
    overflow-y: hidden;

    top: 0px;
    left: 0px;
    width: 100%;
    height:52vh;
    /* margin: 50px; */
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 40px;
    
  }
  
  .image-slider{
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    transition: 0.7s;
    
    
  }
  
  
  .slides-div {
    box-sizing:content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
  }
  
  .img{
    /* position: relative; */
    width: 240px;
    height: 370px;
    transition: 0.5s;
    /* filter: saturate(10%); */
    border-radius: 30px;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  
  }
  .content{
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    transition: 0.6s;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin: 0px;
  
  }
  a h1{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

  a p{
    font-size: 15px;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

  }
  
  .button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.5s;
    border-radius: 30px;
    background-color: transparent;
    filter: saturate(100%);
  }


  
}



