@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap");


/* *********************************************** */
/* =================CSS CODE FOR MAIN VIDIO========== */

.Main_Video {
  width: 100%;
  height:600px;
  position: relative;
  /* padding: 0.5%; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.main_video_content {
  text-align: center;
}

.main_video_content h1 {
  font-size: 15VW;
  color: #efebef;
  font-weight: 580;
}

.back_video {
  height: 600px;
  width:auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%);
}

@media (min-width:941px) {
  .Main_Video {
      width: 100%;
      height:545px;
      position: relative;
      /* padding: 0.5%; */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 999;
  }

  .back_video {
      width: 100vw;
      height: 645px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      
  }
}
/* ================================ */
/* CSS CODE OF MAIN VIDEO END HERE */




/* font-family: 'Abril Fatface', cursive;
font-family: 'Playfair Display', serif; */



/* @media (min-aspect-ratio:16/9){
  .back_video{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .back_video{
    width: auto;
    height: 100%;
  }
} */



.wrapper {
  display: flex;
  justify-content: center; /* Horizontally center the span */
  align-items: center; /* Vertically center the span */
  text-align: center;
  height: 200px;
  width: 400px;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin: 20px 30px;
}

.wrapper span{
  display: block;
  padding: 25px 80px;
}

.wrapper::before,
.wrapper::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.wrapper span::before,
.wrapper span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

.wrapper:hover::before,
.wrapper:hover::after {
  width: 100%;
}

.wrapper:hover span::before,
.wrapper:hover span::after {
  height: 100%;
}

.wrapper::after {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}
.wrapper span::after {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.wrapper::before {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}
.wrapper span::before {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.wrapper {
  background-color:rgb(77, 13, 99,0.8);
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 40px 20px;
}
.wrapper img {
  filter: invert(100%);
}
.grid_stats {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.About_us {
  position: relative;
  background-image: url("../images/about_us_bgimage.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover; /* Adjust the background image size */
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 0.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .About_us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(185, 91, 203,0.5); Adjust the opacity as needed
  pointer-events: none; 
} */
.wrapper:hover {
  transform: scale(1.1);
}

.content {
  color: aliceblue;
  text-align: center;
  font-size: 25px;
  font-family: "Playfair Display", serif;
  margin: 0px 50px;
}
.About_us h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */



.UPDATES{
  text-align: center;
  color: rgb(255, 255, 255);
    
}
.UPDATES h1{
  font-size: 4vw;
}
@media (max-width: 1200px) {
  .UPDATES h1{
    font-size: 50px;
  }
}

.updates_container {
  /* background-color: #fff; */
  padding: 100px 20px;
  background: linear-gradient(to right, #BF47CD, #3a0c55);
  /* width: 100%;
  height: 100vh; */
 position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.updates_content {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}
.Heading_image {
  position: relative;
  display: inline-block;
}

.UPDATES {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#updates_img {
  max-width: 100%;
  height: auto;
opacity: 0.6;

}

.an_update {
  border-radius: 10px;
  background-color: rgba(55, 32, 49, 0.5);
  color: #fff;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;

}
@media (max-width: 500px) {
  .an_update{
    width: auto;
  }
}
.an_update {
  transition: transform 0.3s ease;
}

.an_update:hover {
  transform: scale(1.1);
}


/************************************************/
/* ================CSS FOR CARDS========== */

.cards{
  /* background: linear-gradient(90deg, rgb(191, 6, 205), rgb(58,12,85)); */
  background: linear-gradient(45deg,rgb(191,71,205), rgb(58,12,85));
  /* background-image: url("images/Runner.png"); */
  /* background: url(http://s14.postimage.org/nitv9x7ct/top_Arrow.png) no-repeat left center #b21f23; */
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-row-gap: 50px;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1150px) {
  .cards {
      grid-template-columns: repeat(3,33%);
  }
}
@media screen and (max-width: 900px) {
  .cards {
      grid-template-columns: repeat(2,50%);
  }
}
@media screen and (max-width: 600px) {
  .cards {
      grid-template-columns: repeat(1,100%);
  }
}
.cardd{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  font-size: 28px;
  /* background: linear-gradient(45deg, rgba(89,134,0,1) 9%, rgba(141,240,7,1) 39%, rgba(0,212,255,1) 91%); */
  background: linear-gradient(45deg,rgb(191,71,205,0.8), rgb(58,12,85,0.8));
  height: 282px;
  width: 260px;
  text-align: center;
  transition-duration: 0.2s;
}
.cardd:hover{
  .card-image{
      background-image: url('../images/cricket.jpg');
      background-size: cover;
  }
  scale: 1.07;
}
.card-image{
  background-image: url('../images/chess.jpg');
  height: 173px;
  width: 241px;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  transition-duration: 0.2s;
}
.card-name{
  padding: 5px;
  /* font-family: 'Ysabeau SC', sans-serif; */
  /* font-weight: bolder; */
}
.register-btn{
  color: white;
  font-size: 20px;
  background-color: rgb(7, 72, 235);
  outline: none;
  /* border: 3px solid rgb(132, 0, 240); */
  border: none;
  border-radius: 10px;
  padding: 7px;
  
  
  border: 3px solid linear-gradient(#ffffff, #ff0000);
}
.register-btn:hover{
  background-color:  rgb(0, 55, 193);
}

/* ************************************************* */
/* ================CSS FOR CARDS END HERE========== */



