/* ****************************************** */
/* ================CSS FOR NAVBAR========== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #06182d;
    padding-top: 6px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.6s;
    z-index: 1000;
}


nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    margin-left: 30px;
    display: flex;
    flex-flow: row;
    color: aliceblue;
    align-items: center;
    font-family: cursive;
}
nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s;
}

@media (min-width:941px) {
    .menu .list a {
        border: 2px solid transparent;
        border-bottom: 2px solid #fff;
        margin-right: 0px;
        transition: border 0.3s ease;
    }

    .menu .list a:hover {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: 2px solid transparent;
    }

    .menu li ul li a:hover {
        border: none;
    }
}

nav ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    text-align: left;
    background: #06182d;
}

nav.sticky-nav ul ul li {
    background: #0D335D;
}

nav ul ul li a {
    line-height: 40px;
}

.show,
input {
    display: none;
}

.icon {
    display: none;
}

@media (max-width:941px) {
    nav {
        background: #06182d;
        padding-bottom: 10px;
        flex-direction: column;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        padding-left: 60px;
        line-height: 70px;
        background: transparent;
    }

    nav ul ul li:hover {
        border: none;
    }


    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li:hover {
        border-bottom: none;
    }

    .show+a,
    nav ul{
        display:none;
    }

    [id=about]:checked+ul,
    [id=bars]:checked+ul {
        display: block;
    }
}
/* ************************************************* */
/* ================CSS FOR NAVBAR END HERE========== */


/************************************************/
/* ================CSS FOR CARDS========== */

.cards{
    /* background: linear-gradient(90deg, rgb(191, 6, 205), rgb(58,12,85)); */
    background: linear-gradient(45deg,rgb(191,71,205), rgb(58,12,85));
    /* background-image: url("images/Runner.png"); */
    /* background: url(http://s14.postimage.org/nitv9x7ct/top_Arrow.png) no-repeat left center #b21f23; */
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-weight: bold;
}
@media screen and (max-width: 1150px) {
    .cards {
        grid-template-columns: repeat(3,33%);
    }
}
@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2,50%);
    }
}
@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1,100%);
    }
}
.cardd{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    font-size: 28px;
    /* background: linear-gradient(45deg, rgba(89,134,0,1) 9%, rgba(141,240,7,1) 39%, rgba(0,212,255,1) 91%); */
    background: linear-gradient(45deg,rgb(191,71,205,0.8), rgb(58,12,85,0.8));
    height: 282px;
    width: 260px;
    text-align: center;
    transition-duration: 0.2s;
}
.cardd:hover{
    .card-image{
        background-image: url('../images/cricket.jpg');
        background-size: cover;
    }
    scale: 1.07;
}
.card-image{
    background-image: url('../images/chess.jpg');
    height: 173px;
    width: 241px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}
.card-name{
    padding: 5px;
    /* font-family: 'Ysabeau SC', sans-serif; */
    /* font-weight: bolder; */
}
.register-btn{
    color: white;
    font-size: 20px;
    background-color: rgb(7, 72, 235);
    outline: none;
    /* border: 3px solid rgb(132, 0, 240); */
    border: none;
    border-radius: 10px;
    padding: 7px;
    
    
    border: 3px solid linear-gradient(#ffffff, #ff0000);
}
.register-btn:hover{
    background-color:  rgb(0, 55, 193);
}

/* ************************************************* */
/* ================CSS FOR CARDS END HERE========== */



.bg-purple {
    background-color: #702963 !important;
}

.shadow-m {
    box-shadow: 5px 5px #702963;
}

.bg-purple-m {
    background-color: #702963 !important;
}