html {
    margin: 0;
}

/* ****************************************** */
/* ================CSS FOR NAVBAR========== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.6s;
    z-index: 1000;
}

nav.sticky-nav {
    background-color: #300030;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    margin-left: 25px;
    display: flex;
    flex-flow: row;
    color: aliceblue;
    align-items: center;
    font-family: cursive;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s;
}

@media (min-width:941px) {
    .menu .list a {
        border: 2px solid transparent;
        border-bottom: 2px solid #fff;
        margin-right: 36px;
        transition: border 0.3s ease;
    }

    .menu .list a:hover {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: 2px solid transparent;
    }

    .menu li ul li a:hover {
        border: none;
    }
}

nav ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    text-align: left;
    background: #300030;
}

nav.sticky-nav ul ul li {
    background: #100030;
}

nav ul ul li a {
    line-height: 40px;
}

.show,
input {
    display: none;
}

.icon {
    display: none;
}

@media (max-width:941px) {
    nav {
        background: #300030;
        padding-bottom: 10px;
        flex-direction: column;
        margin-right: 0;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        padding-left: 60px;
        line-height: 70px;
        background: transparent;
    }

    nav ul ul li:hover {
        border: none;
    }


    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li:hover {
        border-bottom: none;
    }

    .show+a,
    nav ul {
        display: none;
    }

    [id=about]:checked+ul,
    [id=bars]:checked+ul {
        display: block;
    }
}

/* ************************************************* */
/* ================CSS FOR NAVBAR END HERE========== */



/************************************************/
/* ================CSS FOR CARDS========== */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding-top: 100px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1150px) {
    .cards {
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 100%);
    }
}

.cardd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    font-size: 28px;
    background: #0D335D;
    ;
    color: white;
    height: 282px;
    width: 260px;
    text-align: center;
    transition-duration: 0.2s;
}

.cardd:hover {
    .card-image {
        background-image: url('../images/cricket.jpg');
        background-size: cover;
    }

    scale: 1.07;
}

.card-image {
    background-image: url('../images/chess.jpg');
    height: 173px;
    width: 241px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}

.card-name {
    padding: 5px;
}

.register-btn {
    color: #0D335D;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    transition: 0.2s;

}

.register-btn:hover {
    color: white;
    background-color: rgb(0, 55, 193);
}

/* ************************************************* */
/* ================CSS FOR CARDS END HERE========== */

/* *********************************************** */
/* =================CSS CODE FOR MAIN VIDIO========== */

.Main_Video {
    width: 100%;
    height:600px;
    position: relative;
    /* padding: 0.5%; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.main_video_content {
    text-align: center;
}

.main_video_content h1 {
    font-size: 15VW;
    color: #efebef;
    font-weight: 580;
}

.back_video {
    height: 600px;
    width:auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(60%);
}

@media (min-width:941px) {
    .Main_Video {
        width: 100%;
        height:545px;
        position: relative;
        /* padding: 0.5%; */
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .back_video {
        width: 100vw;
        height: 545px;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        
    }
}

/************************************************/
/* ================CSS FOR FOOTER========== */
footer {
    width: 100%;
    height: auto;
    background-color: #300030;
    color: white;
    font-family: "Montserrat", sans-serif;
}


footer .logo-and-contact {
    /* margin: 3%; */
    margin-bottom: 13px;
    height: auto;
    border-bottom: 1px solid white;
}

footer .logo-and-contact .logo {
    padding: 20px;
}

footer .logo-and-contact .contact-location {
    padding: 20px;
    padding-top: 40px;
}

.social-buttons {
    text-align: end;
    padding-right: 20px;
}

.social-buttons a {
    margin: 5px;
    padding: 7px;
    border: 1px solid white;
    border-radius: 18px;
    transition: all 0.5s ease;

}

.social-buttons a .fa {
    color: white;
    font-size: 16px;
    width: 18px;
    text-align: center;
    text-decoration: none;
}

.social-buttons a:hover {
    background-color: white;
    color: #300030;
}

.social-buttons a:hover .fa {
    color: #300030;
}

.copyright-text {
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    padding: 25px 0px;
}

/* ************************************************* */
/* ================CSS FOR FOOTER END HERE========== */
img {
    height: 195px
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.shadow-m {
    box-shadow: 5px 5px #a680ec;
}

.bg-purple-m {
    background-color: #a680ec !important;
}