
/************************************************/
/* ================CSS FOR CARDS========== */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding-top: 100px;
    font-family: 'Ysabeau SC', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1150px) {
    .cards {
        grid-template-columns: repeat(3, 33%);
    }
}

@media screen and (max-width: 900px) {
    .cards {
        grid-template-columns: repeat(2, 50%);
    }
}

@media screen and (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, 100%);
    }
}

.cardd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    font-size: 28px;
    background: #0D335D;
    ;
    color: white;
    height: 282px;
    width: 260px;
    text-align: center;
    transition-duration: 0.2s;
}

.cardd:hover {
    .card-image {
        background-image: url('../images/cricket.jpg');
        background-size: cover;
    }

    scale: 1.07;
}

.card-image {
    background-image: url('../images/chess.jpg');
    height: 173px;
    width: 241px;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
}

.card-name {
    padding: 5px;
}

.register-btn {
    color: #0D335D;
    font-size: 20px;
    background-color: white;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 7px;
    transition: 0.2s;

}

.register-btn:hover {
    color: white;
    background-color: rgb(0, 55, 193);
}

/* ************************************************* */
/* ================CSS FOR CARDS END HERE========== */











img {
    height: 195px
}

.bg-purple {
    background-color: #702963 !important;
}

.shadow-m {
    box-shadow: 5px 5px #702963;
}

.bg-purple-m {
    background-color: #702963 !important;
}