html {
    margin: 0;
}
/* ****************************************** */
/* ================CSS FOR NAVBAR========== */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 6px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    transition: background-color 1s;
    z-index: 1000;
}

nav.sticky-nav {
    background: linear-gradient(to right,#800080,#5D3FD3);
}

/* nav:after {
    content: '';
    clear: both;
    display: table;
} */

nav .logo {
    /* width: 50%; */
    float: left;
    margin-left: 15px;
    display: flex;
    flex-flow: row;
    color: aliceblue;
    align-items: center;
    font-family: cursive;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

nav ul li {
    display: inline-block;
    margin: 0;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s;
}

@media (min-width:941px) {
    .menu .list a {
        border: 2px solid transparent;
        border-bottom: 2px solid #fff;
        margin-right: 36px;
        transition: border 0.3s ease;
    }

    .menu .list a:hover {
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        border-bottom: 2px solid transparent;
    }

    .menu li ul li a:hover {
        border: none;
    }
}

nav ul ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top 0.3s;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    text-align: left;
    background: #702963;
}

nav.sticky-nav ul ul li {
    background: #702963;
}

nav ul ul li a {
    line-height: 40px;
}

.show,
input {
    display: none;
}

nav .icon {
    display: none;
}

@media (max-width:941px) {
    nav {
        width: 100%;
        background: linear-gradient(to right,#800080,#5D3FD3);
        padding-bottom: 10px;
        flex-direction: column;
        margin-right: 0;
    }
    
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul li {
        padding-left: 60px;
        line-height: 70px;
        background: transparent;
    }

    nav ul ul li:hover {
        border: none;
    }


    nav .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        transition: color 0.3s;
    }

    nav .icon {
        width:50%;
        display: block;
        color: white;
        position: absolute;
        padding-left:90%;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li:hover {
        border-bottom: none;
    }

    .show+a,
    nav ul {
        display: none;
    }

    [id=about]:checked+ul,
    [id=bars]:checked+ul {
        display: block;
    }
}

#nav-register-btn{
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    background-color: #5D3FD3;
    border: 3px solid black;
    font-size: 18px;
    cursor: pointer;
}
#nav-register-btn:hover{
    background-color: #3300ff;
}

/* ************************************************* */
/* ================CSS FOR NAVBAR END HERE========== */
